@model RockPaperScissorsWebApp.Models.Game
@{
    ViewBag.Title = "Player vs Player";
}

<h2>Computer vs Computer</h2>

@Html.Partial("_GameInfo", Model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input name="submit" type="submit" value="Play Round" class="btn btn-default" />
    </div>
    <div class="form-actions no-color">
        <input name="submit" type="submit" value="Reset Scores" class="btn btn-default" />
    </div>
}