@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rock Paper Scissors</h1>
    <p class="lead">This Rock Paper Scissors can be played against a computer, or you can watch 2 computers face off</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Computer vs Computer</h2>
        @Html.ActionLink("Play Now", "ComputerVsComputer", "Game", new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-6">
        <h2>Player vs Computer</h2>
        @Html.ActionLink("Play Now", "PlayerVsComputer", "Game", new { @class = "btn btn-primary" })
    </div>
    
   
</div>